<h1>Events</h1>

<h3>Upcoming Events</h3>
<% @upcoming_events.each do |event| %>
  <% @event = event %>
  <%= render 'event_card', local: {event: @event} %>
<% end %>
<h3>Previous Events</h3>
<% @previous_events.each do |event| %>
  <% @event = event %>
  <%= render 'event_card', local: {event: @event} %>
<% end %>
